@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:800');
@import "font-awesome";

@font-face {
	font-family: 'Bodoni Std';
	src: url('../fonts/hinted-BodoniStd-Book.eot');
	src: url('../fonts/hinted-BodoniStd-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-BodoniStd-Book.woff') format('woff'),
		url('../fonts/hinted-BodoniStd-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


*{
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body{
	background-color: #131315;
    background-image: url('../');
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size:auto;
}

.bg-img{
	position: fixed;
	width: 45%;
	height: auto;
	right: 0;
	top: 0;
	transition:all 10s;
	-webkit-transition:all 10s;
    -moz-transition:all 10s;
    -o-transition:all 10s;
    transition:all 10s;
}

.bg-img.enlarged{
   transform: scale(1,1); 
   -webkit-transform: scale(1.1);
}

/*.bg-img:hover{ ; }*/

body,html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

h1{
	font-family: 'Bodoni Std';
	font-weight: normal;
	font-style: normal;
	color: #fff;
	line-height: 60px;
	font-size: 50px;
	margin-top: 15px;
}

h2{
	font-family: 'Bodoni Std';
	font-weight: normal;
	font-style: normal;
	color: #fff;
	line-height: 30px;
	font-size: 30px;
	margin-top: 50px;
	text-transform: uppercase;
}

p{
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}

.logo{
	height: 30px;
}

.line{
	width: 100%;
	border-bottom: 1px solid #979797;
	display: block;
	margin-bottom: 20px;
	margin-top: 10px;
}

.link{
	font-size: 12px;
	font-weight: 800;
	color: #FFF;
	cursor: pointer;
	text-transform: uppercase;
    -webkit-transition: ease-out .5s;
    -moz-transition: ease-out .5s;
    -o-transition: ease-out .5s;
    transition: ease-out .5s;

	&:hover{
		color: #CD9208;
		text-decoration: none;
		cursor: pointer;

		&:after{
			color: #fff;
			margin-left: 20px;
			-webkit-transition: ease-out .5s;
			-moz-transition: ease-out .5s;
			-o-transition: ease-out .5s;
			transition: ease-out .5s;
		}
	}

	&:after{
		color: #fff;
		font-family: 'FontAwesome';
		margin-left: 8px;
		content:  "\f178";
		-webkit-transition: ease-out .5s;
		-moz-transition: ease-out .5s;
		-o-transition: ease-out .5s;
		transition: ease-out .5s;
	}
}

.large{
	font-size: 420px;
	line-height: 270px;
}

nav{
	margin: 50px 0 200px 0;
	.links{
		margin: 0;
		padding: 0;

		li{
			float: left;
			margin-right: 30px;
			list-style: none;
			cursor: pointer;
			padding-top: 4px;
			&:last-child{
				margin-right: 0;
			}

			a{

				font-weight: 400;
				text-transform: uppercase;
				font-size: 12px;
				letter-spacing: 1px;
				line-height: 20px;
				color: #fff;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}

	.btn.accent{
		background-color: #CD9208;
		margin-top: -4px;
		padding: 4px 15px;
		border-radius: 2px;
	}
}

#work, .project{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#work{
	.side-title{
		font-family: 'Open Sans', sans-serif;
	    font-size: 100px;
	    text-transform: uppercase;
	    transform: rotate(-90deg);
	    display: inline-block;
	    color: #202023;
	    position: absolute;
	    margin: 0;
	    padding: 0;
	    top: 50%;
	    margin-top: -30px;
	    left: -140px;
	}
	.img-wrap, .description-wrap{
		height: 100%;
		position: relative;
	}
	img{
		position: absolute;
		width: 70%;
		height: auto;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.description{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		transform: translate(-50%, -50%);
	}
}

section{
	margin: 150px 0;
	position: relative;
}

#years-experence{
	margin-top: 240px;
}

#quote, #twitter{
	p{
		font-size: 30px;
		line-height: 36px;
		text-align: center;
		padding: 20px;
	}
}

/*.image{
	display: block;
	width: 80%;
	height: auto;
	margin: 0 auto;
}*/

.links-social {
	margin: 0;
	padding: 0;
	display: block;
    overflow: auto;

	li{
		float: left;
		margin-right: 8px;
		list-style: none;
		border-bottom: 1px solid #FEE7B0;
		cursor: pointer;

		&:last-child{
			margin-right: 0;
		}

		a{
			font-weight: 400;
			text-transform: uppercase;
			font-size: 10px;
			letter-spacing: 1px;
			color: #FEE7B0;

			&:hover{
				text-decoration: none;
			}
		}
	}
}


.list{
	margin: 0;
	padding: 0;
	display: block;
    overflow: auto;

    li{
		list-style: none;

		a{
			text-decoration: underline;
			color: #CD9208;
		}
	}
}

.big-list{
	margin: 0;
	padding: 0;
	display: block;
    overflow: auto;

    li{
		list-style: none;
		margin-bottom: 10px;

		a{
			text-decoration: none;
			color: #fff;
			font-size: 20px;
			font-weight: 600;
			text-transform: uppercase;

			&:hover{
				text-decoration: none;
			}
		}
	}
}

#instagram{
	img{
		width: 100%;
		display: block;
		margin-bottom: 30px;
	}
}